################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bitprim-cs/v15
/.vs/config
/bitprim-node-cint.dll
/conanbuildinfo.cmake
/conanbuildinfo.txt
/conaninfo.txt
/conan_imports_manifest.txt
/.vs/bitprim/v15
/bitprim/bin
/bitprim/obj
/bitprim.tests/bin/Debug/netcoreapp2.0
/bitprim.tests/obj
/bitprim.restapi/.vscode
/bitprim.restapi/bin
/bitprim.restapi/obj
/bitprim/docs/xml
/bitprim/docs/api.md
/bitprim.tests/bin/Release
/bitprim.tests/bitprim-node-cint.dll
/bitprim.tests/conan_imports_manifest.txt
/bitprim.tests/conaninfo.txt
/bitprim.tests/conanfile.txt
/bitprim.tests/conanbuildinfo.txt
/bitprim.tests/conanbuildinfo.cmake
/bitprim.restapi/bin
/bitprim.tests/bin
/bitprim.ibd/bin
/bitprim.ibd/obj
/packages
/bitprim.ibd/bitprim-node-cint.dll
/bitprim.ibd/conanbuildinfo.cmake
/bitprim.ibd/conanbuildinfo.txt
/bitprim.ibd/conanfile.txt
/bitprim.ibd/conaninfo.txt
/bitprim.ibd/conan_imports_manifest.txt
/bitprim.restapi/bitprim-node-cint.dll
/bitprim.restapi/error.log
/bitprim.restapi/debug.log
/bitprim.restapi/conan_imports_manifest.txt
/bitprim.restapi/conaninfo.txt
/bitprim.restapi/conanfile.txt
/bitprim.restapi/conanbuildinfo.txt
/bitprim.restapi/conanbuildinfo.cmake
