################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/packages
/.vscode
/bitprim-node-cint.dll
/conanbuildinfo.cmake
/conanbuildinfo.txt
/conaninfo.txt
/conan_imports_manifest.txt
/bitprim-bch/bin
/bitprim-bch/obj
/bitprim-btc/obj/
/bitprim-btc/bin/
/bitprim.tests/bin/
/bitprim.tests/obj/
/bitprim.tests/conaninfo.txt
/bitprim.tests/conanfile.txt
/bitprim.tests/conanbuildinfo.txt
/bitprim.tests/conanbuildinfo.cmake
/bitprim.tests/conan_imports_manifest.txt
/bitprim.tests/libbitprim-node-cint.dll
/bitprim.console/obj
/bitprim.console/bin
/bitprim.console/conanbuildinfo.txt
/bitprim.console/conan_imports_manifest.txt
/bitprim.console/conanbuildinfo.cmake
/bitprim.console/conanfile.txt
/bitprim.console/conaninfo.txt
/bitprim.console/blockchain
/bitprim.console/bitprim-cs-log.txt
/bitprim.console/hosts.cache
/bitprim.console/error.log
/bitprim.console/debug.log
/bitprim.console/conan_imports_manifest.txt
/bitprim.console/conaninfo.txt
/bitprim.console/conanfile.txt
/bitprim.console/conanbuildinfo.txt
/bitprim.console/conanbuildinfo.cmake
/bitprim.console/bitprim-node-cint.dll
/tools
/build