# Copyright (c) 2016-2020 Knuth Project developers.
# Distributed under the MIT software license, see the accompanying
# file COPYING or http://www.opensource.org/licenses/mit-license.php.


build: off

branches:
  only:
  - master
  - dev
  - /^v\d+\.\d+\.\d+$/
  - /^release-\d+\.\d+\.\d+$/
  - /^feature-ci-.+$/
  - /^feature_ci_.+$/

platform:
  - x64

configuration:
- Release

environment:
    PYTHON: "C:\\Python37"
    PYTHON_VERSION: "3.7.3"
    PYTHON_ARCH: "32"
    NUGET_API_KEY:
      secure: v1FcTnqyvedsvmDN+hkritZIzgvbs19CsZ9CB1Lxdq6SLi4FEeMZC5eBRulPmN+2

    VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"

    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          PUBLISH_TO_NUGET: "true"

assembly_info:
  patch: false

init:
  - ps: |
      if ($Env:APPVEYOR_REPO_BRANCH -ceq "master" -And [string]::IsNullOrEmpty($Env:APPVEYOR_REPO_TAG_NAME)) {
        Write-Host "branch is master without tags, exiting"
        Exit-AppveyorBuild
      }
      
install:
  - "echo %PYTHON%"
  - "cd %PYTHON%"
  - "cd Scripts"
  - dir
  # - "dir %PYTHON%\\Scripts"
  # - "%PYTHON%/Scripts/pip.exe install conan==1.7.4"
  - "%PYTHON%/Scripts/pip.exe install kthbuild --upgrade"
  # python -m pip install --upgrade pip
  - "%PYTHON%/Scripts/python.exe --version"
  - "python --version"

build_script:
  - "%PYTHON%/Scripts/python.exe --version"
  - "python --version"
  - SET PATH=%PATH%;%PYTHON%/Scripts/
  - "%PYTHON%/Scripts/python.exe --version"
  - "python --version"
  - powershell .\build.ps1

test: off
