[log]
archive_directory = ./log/archive-node-btc-mainnet
debug_file = ./log/node-btc-mainnet-debug.log
error_file = ./log/node-btc-mainnet-error.log
rotation_size = 100000000
minimum_free_space = 0
verbose = true

[network]
hosts_file = ./hosts-btc-mainnet.cache
protocol_maximum = 70013
protocol_minimum = 31402
outbound_connections = 2
inbound_connections = 10
self = 0.0.0.0:0

[database]
flush_writes = true
directory = ./database/btc-mainnet
db_max_size = 210485760
safe_mode = true

[blockchain]
# Mainnet-BTC
checkpoint = 000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f:0

[fork]
easy_blocks = false
retarget = true
bip16 = true
bip30 = true
bip34 = true
bip66 = true
bip65 = true
bip90 = true
# Add relative locktime enforcement, defaults to true (soft fork).
bip68 = true
# Add check-sequence-verify op code, defaults to true (soft fork).
bip112 = true
# Use median time past for locktime, defaults to true (soft fork).
bip113 = true
bip141 = true
bip143 = true
bip147 = true

[node]
relay_transactions=true